h1{
    margin-top: -1rem;
    color:white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8vh;
    white-space: nowrap;
}
.slider {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.slide-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 45vh;
}
h3{
    margin-top: -1rem;
    color: white;
    font-weight: lighter;
    margin-bottom: 1rem;   
    text-align: center;
}
video{
    width: 45%;
    max-width: 100%;
}
.nav-button {
    position: absolute;
    top: 25%;
    transform: translateY(-50%);
    background: rgba(0,0,0,0.4);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px 14px;
    font-size: 20px;
    border-radius: 50%;
}
.nav-button:hover {
    background: rgba(255,255,255,0.2);
}
.prev-button {
    left: -50px;
}
.next-button {
    right: -50px;
}
.tml-container{
    width: 40%;
    gap:12px;
    max-width:1200px;
    margin:0 auto;
    margin-top: -40vh;
}   
.img{
    height: 100%;
    width: 100%;
    opacity: 30%;
}

