.gallery-container{padding:40px;text-align:center;color:#fff}
.grid{display:grid;grid-template-columns:repeat(auto-fit,minmax(180px,1fr));gap:16px;max-width:1100px;margin:24px auto}
.grid-item img{cursor: pointer; width:100%;height:180px;object-fit:cover;border-radius:6px}
h1{
    margin-top: 2ch;
}
